@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(242, 242, 242, 1);
    margin: 0 auto;
}

.container {
    background-color: rgba(255, 255, 255, 1);
    width: 1200px;
    margin: 0 auto;
}
/* header */
.navigation{
    width: 1060px;
    display: flex;
    margin: 0 auto;
}
.navigation-list{
    width: 430px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.navigation-user{
    width: 300px;
    margin-left: auto;
}

.navigation-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:rgba(0, 0, 0, 1);
    text-decoration: none;
    text-align: center;
}

.header-button{
    background-color: #756157;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
/*main*/
.main-index h2{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle{
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

/*hero*/
.hero{
    background-image: url(../images/background-index.jpg);
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    color:rgba(0, 0, 0, 1);
    height: 485px;
}

.hero-logotype{
    display: block;
    margin: 0 auto;
}

/*advantages*/
.advantages blockquote{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.advantages-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.advantages-item{
    text-align: center;
}

.advantages-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.advantages-hero-block{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    display: flex;
}
.advantages-hero-reverse{
    flex-direction: row-reverse;
}

.advantages-secondary-block{
    background-color: rgba(131, 179, 211, 0.12);
    color: rgba(51, 51, 51, 1);
    width: 400px;
}

.advantages-center-block{
    background-color:rgba(131, 179, 211, 0.2);
}

/*Services*/
.services-list{
    display: flex;
    justify-content: space-between;
}

.services-item{
    text-align: center;
    background-color: rgba(131, 179, 211, 0.12);
}

.services-center-block{
    background-color: rgba(255, 255, 255, 1);
}

.services-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.services-item p{
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

/*search*/
.search-link{
    background-color: #756157;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    width: 376px;
    margin: 0 auto;
}

/*subscription*/
.subscription{
    background-image: url(../images/background-subscription.jpg);
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.subscription h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription p{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.subscription-button{
    background-color: #82B3D3;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

/*footer*/
.page-footer{
    width: 1060px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}


.footer-contact-phone{
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

/*catalog.html*/
.main-inner h1{
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #FFFFFF;
}

/*filter*/
.filter{
    background-image: url(../images/background-filter.jpg);
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.breadcrumbs-link{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 400;
}

.catalog-filter-title{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 700;
}

.catalog-filter-item{
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    font-weight: 400;
}

.filter-button{
    background-color: #82B3D3;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

.filter-button-close{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

/*catalog*/
.catalog-title{
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
}

.product-card-link{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.product-card-name{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.card-button-detail{
    background-color: #756157;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.card-button-favourites{
    background-color: #82B3D3;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.card-button-active{
    background-color: #7DB54F;
}

.product-card-rating{
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    background-color: #F2F2F2;
}

/*pagination*/
.pagination-current{
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    background-color: #82B3D3;
    text-decoration: none;
}

.pagination-current-active{
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-current-hidden{
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}

/*catalog-subscription*/
.catalog-subscription{
    background-color: #FFFFFF;
}
.catalog-subscription h2{
    color: #000000;
}
.catalog-subscription p{
    color: #333333;
}
